/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 feb 2026, 9:18:31 p.m.
    Author     : Jetzaly
*/

@font-face {
    font-family: 'Lemon Milk'; /* Nombre oficial que aparece al abrir el archivo */
    src: url('LEMONMILK-Regular.otf'); 
}

.fuente-lemon {
    /* Usamos el mismo nombre que definimos arriba */
    -fx-font-family: 'Lemon Milk'; 
}

@font-face {
    /* El nombre interno de esta fuente es casi seguro este: */
    font-family: 'KG Perfect Penmanship Regular'; 
    src: url('KGPerfectPenmanship.otf'); 
}

.fuente-perfectP {
    /* Aquí también cámbialo */
    -fx-font-family: 'KG Perfect Penmanship Regular'; 
; 
}

.boton-redondo {
    -fx-background-radius: 20;    /* <--- ESTO redondea el fondo */
    -fx-border-radius: 20;        /* <--- ESTO redondea el borde (si tiene) */
    -fx-padding: 10 20;           /* Espacio interno para que no se vea apretado */
}

